/** content **/

.content-wrapper-bg
{
	background-size: 40%;
	background-image: url(../img/business/dash-bg.jpg);
}

.subtle-label
{
	font-size: 80%;
	color: #767676;
	text-transform: uppercase;
}

.checkbox .subtle-label
{
	font-weight: bold !important;
}

.subtle-input
{
	background-color: #E6E9ED;
	border-color: #E6E9ED;
}

/** fonts **/
.raleway { font-family: 'Raleway', sans-serif; }
.source-sans-pro { font-family: 'Source Sans Pro', sans-serif; }

.light { font-weight: 200; }
.normal { font-weight: 400; }
.heavy { font-weight: 900; }
.more-height { line-height: 1.75em; }

.taller-input { height: 40px; }

/** nav **/
.nav.navbar-primary { border-bottom: 1px solid #f5f5f5; }

/** footer **/

html, body { height: 100%; }

.wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -40px; }

.footer-fix, .push { height: 40px;}

.footer-fix p { padding-top: 10px; font-size: 90%; }

.footer-fix p span { padding: 0 20px; display: inline-block; }

/** colors **/

::selection { background: #FC6E51; color: #fff; text-shadow: 1px 1px #E9573F; }

.fg-scheme-dark { color: #E9573F; }
.fg-scheme-light { color: #FC6E51; }
.fg-scheme-white { color: #FFF; }

.bg-scheme-dark { background-color: #E9573F; }
.bg-scheme-light { background-color: #FC6E51; }
.bg-scheme-white { background-color: #FFF; }
.bg-scheme-dark-gray { background-color: #2B2B2B; }
.bg-scheme-blue { background-color: #269ECB; }

.border-scheme-dark-gray { border-color: #2B2B2B; }

.fg-scheme-dark-gray.anchor a { color: #333; }
.fg-scheme-dark-gray.anchor a:hover,
.fg-scheme-dark-gray.anchor.active a
{
	background-color: #E9573F;
	color: #FFF;
}

.fg-scheme-dark.anchor a { color: #E9573F; }
.fg-scheme-dark.anchor a:hover,
.fg-scheme-dark.anchor.active a
{
	background-color: #E9573F;
	color: #FFF;
}

.form-group.required .control-label:after
{
	content:" *";
	color:red;
}

/** sizes **/

.h3-5 { font-size: 220%; }

.larger { font-size: 130%; }

.lighter { font-weight: 100; }

/** images **/

.inline-img { float: left; }

/*** temporary strike from the appearance for the sake of cleanliness ***/
/*.early-signup-header-bg { background-image: url('../img/early-signup-header-bg.jpg'); background-size: 60%; }*/
.early-signup-header-bg { margin-top: 80px; }

.header + .container { margin-top: 80px; }

/** forms **/
.hidden-input { display: none; }

/** icons **/
.icon-solid
{
	display: block;
	width: 80px;
	height: 100px;
	margin: 0 auto;
	background-size: 100%;
	background-repeat: no-repeat;
}

.icon-hollow
{
	display: block;
	width: 80px;
	height: 100px;
	margin: 0 auto;
	background-size: 100%;
	background-repeat: no-repeat;
}

.icon-solid.icon-checkbox { background-image: url('../img/business/icons/solid/checkbox.png'); }
.icon-solid.icon-target { background-image: url('../img/business/icons/solid/target.png'); }
.icon-solid.icon-bullhorn { background-image: url('../img/business/icons/solid/bullhorn.png'); }
.icon-solid.icon-graph { background-image: url('../img/business/icons/solid/graph.png'); }
.icon-solid.icon-mail { background-image: url('../img/business/icons/solid/mail.png'); }
.icon-solid.icon-briefcase { background-image: url('../img/business/icons/solid/briefcase.png'); }
.icon-solid.icon-speedometer { background-image: url('../img/business/icons/solid/speedometer.png'); }
.icon-solid.icon-lifering { background-image: url('../img/business/icons/solid/lifering.png'); }
.icon-solid.icon-tortoise-and-hare { background-image: url('../img/user/icons/solid/tortoise-and-hare.png'); }
.icon-solid.icon-chatbox { background-image: url('../img/user/icons/solid/chatbox.png'); }

.icon-hollow.icon-checkbox { background-image: url('../img/business/icons/hollow/checkbox.png'); }
.icon-hollow.icon-target { background-image: url('../img/business/icons/hollow/target.png'); }
.icon-hollow.icon-bullhorn { background-image: url('../img/business/icons/hollow/bullhorn.png'); }
.icon-hollow.icon-graph { background-image: url('../img/business/icons/hollow/graph.png'); }
.icon-hollow.icon-mail { background-image: url('../img/business/icons/hollow/mail.png'); }
.icon-hollow.icon-briefcase { background-image: url('../img/business/icons/hollow/briefcase.png'); }
.icon-hollow.icon-speedometer { background-image: url('../img/business/icons/hollow/speedometer.png'); }
.icon-hollow.icon-lifering { background-image: url('../img/business/icons/hollow/lifering.png'); }
.icon-hollow.icon-invite { background-image: url('../img/user/icons/hollow/invite-icon.png'); }
.icon-hollow.icon-finger-point { background-image: url('../img/user/icons/hollow/finger-pointing.png'); }

/** landing-page registration **/

.inset-form-container.row-dark-blue
{
	float: left;
	padding: 30px 0;
	background-color: #2E3740;
	box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
	-webkit-box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
	-moz-box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
}

.inset-form-container.row-white
{
	float: left;
	padding: 30px 0;
	background-color: #FFF;
	box-shadow: inset 0 15px 15px -15px #CCC,
				inset 0 -15px 15px -15px #CCC;
	-webkit-box-shadow: inset 0 15px 15px -15px #CCC,
				inset 0 -15px 15px -15px #CCC;
	-moz-box-shadow: inset 0 15px 15px -15px #CCC,
				inset 0 -15px 15px -15px #CCC;
}

h3.inset-form-heading
{
	font-family: 'Raleway', sans-serif;
	font-size: 260%;
	font-weight: 700;
	color: #FFF;
	text-shadow: 1px 1px #000;
}

.inset-form-container .inset-form-input
{
	background: none;
	border: none;
	border-bottom: 1px solid #4D5F6D;
	border-radius: 0;
	padding-left: 0;
	color: #fff;
}

.inset-form-input.error { border-color: #DA4453 !important; }

.inset-form-input.valid { border-color: #8CC152; }

.inset-form-container .inset-form-input.error + .input-group-addon { color: #DA4453; }

.inset-form-container .inset-form-input.valid + .input-group-addon { color: #8CC152; }

.inset-form-container .inset-form-input:focus,
.inset-form-container .inset-form-input:focus + .input-group-addon
{
	background-color: #293139;
	padding-left: 12px;
}

.inset-form-container .inset-form-input::-webkit-input-placeholder { color: #68778A !important; }
.inset-form-container .inset-form-input:-moz-placeholder
{
	color: #68778A !important;
	opacity: 1 !important;
}
.inset-form-container .inset-form-input::-moz-placeholder
{
	color: #68778A !important;
	opacity: 1 !important;
}
.inset-form-container .inset-form-input::-ms-input-placeholder
{
	color: #68778A !important;
}

.inset-form-container .input-group-addon
{
	background: none;
	color: #D85D5F;
	border: none;
	border-bottom: 1px solid #4D5F6D;
	border-radius: 0;
}

.inset-form-container textarea.inset-form-input
{
	border: 1px solid #4D5F6D;
	padding: 10px;
}

.inset-form-container .checkbox label { color: #68778A !important; }
.inset-form-container .checkbox label a
{
	color: #68778A;
	border-bottom: 1px dashed #68778A;
}

.inset-form-container .checkbox label a:hover
{
	color: #FC6E51;
	border-color: #FC6E51;
}

/** offer cards **/
.card-outer
{
	text-align: center;
	padding: 17px;
	border: 1px solid #EBEBEB;
	background-color: #FFF;
}

.card-inner
{
	position: relative;
	width: 100%;
	height: 520px;
	box-shadow: inset 0 0 5px #E3E3E3;
	-webkit-box-shadow: inset 0 0 5px #E3E3E30;
	-moz-box-shadow: inset 0 0 5px #E3E3E3;
}

.card-inner img
{
	margin: 20px auto;
	max-width: 90%;
	max-height: 480px;
}

.cards-behind
{
	position: absolute;
	left: 20px;
	top: 6px;
	z-index: -1;
}

img.calm
{
	border: 8px solid #FFF;
	box-shadow: 0 0 1px #BBB;
	-webkit-box-shadow: 0 0 1px #BBB;
	-moz-box-shadow: 0 0 1px #BBB;
}

/**
 * Inline sign-up form
 */
.inline-sign-up
{
	padding: 22px 0;
	background-color: #2E3740;
	box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
	-webkit-box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
	-moz-box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
}

.inline-sign-up .inset-form-input
{
	background: none;
	border: none;
	border-bottom: 1px solid #4D5F6D;
	border-radius: 0;
	padding-left: 0;
	color: #fff;
}

.inline-sign-up .inset-form-input::-webkit-input-placeholder { color: #68778A !important; }
.inline-sign-up .inset-form-input:-moz-placeholder
{
	color: #68778A !important;
	opacity: 1 !important;
}
.inline-sign-up .inset-form-input::-moz-placeholder
{
	color: #68778A !important;
	opacity: 1 !important;
}
.inline-sign-up .inset-form-input::-ms-input-placeholder
{
	color: #68778A !important;
}

/**
 * Chrome autofill fix
 */
input:-webkit-autofill:focus
{
	-webkit-box-shadow: 0 0 0px 1000px #293139 inset;
	-webkit-text-fill-color: #FFF !important;
}
input:-webkit-autofill
{
	-webkit-box-shadow: 0 0 0px 1000px #2E3740 inset;
	-webkit-text-fill-color: #FFF !important;
}

/** hr break **/
hr.dashed { border-top: 3px dashed; }

/** required label **/
label.required::after
{
	content:"*";
	display:block;
	width:10px;
	color:#f00;
	position:absolute;
	right:4px;
	top:4px;
}

/** required checkbox **/
label.has-error:before
{
	content: "\25BA";
	position: absolute;
	left: -10px;
	display: block;
	color: #f00;
}