/** body **/

html, body { height: 100%; }

body
{
	padding-top: 50px;
	background-color: rgba(255, 255, 255, .2);
}

.header-wrapper
{
	float: left;
	width: 100%;
	padding: 50px 0 100px 0;
	background-size: 25%;
	background-image: url(../img/business/dash-bg.jpg);
}

.content-wrapper
{
	float: left;
	width: 100%;
	padding: 0 0 100px 0;
}

.content-area { margin-left: 215px; }

/** sidebar **/

.sidebar
{
	background-color: #171B20;
	box-shadow: inset -10px -15px 10px 0 #181818;
	-webkit-box-shadow: inset -10px -15px 10px 0 #181818;
	-moz-box-shadow: inset -10px -15px 10px 0 #181818;
	-ms-box-shadow: inset -10px -15px 10px 0 #181818;
}

.sidebar .nav-sidebar a
{
	color: #AAB2BD;
}

/* Hide for mobile, show later */
.sidebar { display: none; }

@media (min-width: 768px){
	.sidebar
	{
		position: fixed;
		width: 215px;
		height: 100%;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

/** top nav **/

.navbar-fixed-top { border: 0; }

.navbar.navbar-primary {
	box-shadow: 0 15px 5px -15px #666;
	-webkit-box-shadow: 0 15px 5px -15px #666;
	-moz-box-shadow: 0 15px 5px -15px #666;
	border-bottom: 1px solid #F5F5F5;
}

/** colors **/

::selection{ background: #FC6E51; color: #fff; text-shadow: 1px 1px #E9573F; }

.fg-scheme-dark { color: #E9573F; }
.fg-scheme-light { color: #FC6E51; }

.bg-scheme-dark { background-color: #E9573F; }
.bg-scheme-light { background-color: #FC6E51; }
.bg-scheme-gray { background-color: #171B20; }
.bg-scheme-white { background-color: #FFF; }
.bg-scheme-blue { background-color: #269ECB; }
.bg-scheme-transparent-gray
{
	/** For browsers that don't support the alpha channel **/
	background-color: rgb(230, 233, 237);

	/** For browsers that support the alpha channel **/
	background-color: rgba(230, 233, 237, .1);

	border-color: #525252;
	color: #CCC;
}
.bg-scheme-transparent-gray:focus { border-color: #E9573F; }

.fg-scheme-white { color: #FFF; }
.fg-scheme-white.anchor a { color: #FFF; }
.fg-scheme-white.anchor a:hover,
.fg-scheme-white.anchor li.active a
{
	background-color: #E9573F;
	color: #FFF;
}
.fg-scheme-black.anchor a { color: #000; }
.fg-scheme-black.anchor a:hover,
.fg-scheme-black.anchor li.active a
{
	background-color: #E9573F;
	color: #FFF;
}
.fg-scheme-gray.anchor a { color: #707070; }
.fg-scheme-gray.anchor a:hover,
.fg-scheme-gray.anchor li.active a
{
	background-color: #212121;
	color: #CCC;
	border-right: 4px solid #E9573F;
}
.sidebar .nav-sidebar a
{
	color: #487788;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.sidebar .nav-sidebar a:hover,
.sidebar .nav-sidebar li.active a
{
	background-color: #0C171D;
	color: #FFF;
	border-top: 1px solid #080808;
	border-bottom: 1px solid #0f0f0f;
	border-right: 4px solid #E9573F;
}
.fg-scheme-dark-gray.anchor a { color: #333; }
.fg-scheme-dark-gray.anchor a:hover,
.fg-scheme-dark-gray.anchor li.active a
{
	background-color: #E9573F;
	color: #FFF;
}

.progress-bar-dark { background-color: #E9573F; }

/** sizes **/

.h3-5 { font-size: 220%; }

.larger { font-size: 130%; }

.lighter { font-weight: 100; }

.heavier { font-weight: 600; }

/** images **/

.inline-img { float: left; }

.early-signup-header-bg
{
	background-image: url('../img/early-signup-header-bg.jpg');
	background-size: 60%;
}

/** tooltips **/
.progressbar + .tooltip { margin-top: -10px; }

/** product data **/
iframe#product-description
{
	width: 100%;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}

#product-photo { max-width: 120px; }

.hidden-input { display: none; }

/** payments **/

.card-data input { border: none; }

.card-data input.number { border-bottom: 1px solid #e4e4e4; }

.card-data input.date { border-right: 1px solid #e4e4e4; }

.subtle-input
{
	background-color: #E6E9ED;
	border-color: #E6E9ED;
}

.list-group-veritcal-separator
{
	display: inline-block;
	float: left;
	width:  1px;
	height: 20px;
	background: #EFEFEF;
	margin-left: -1px;
}

/** fonts **/
.raleway { font-family: 'Raleway', sans-serif; }
.source-sans-pro { font-family: 'Source Sans Pro', sans-serif; }

.light { font-weight: 200; }
.normal { font-weight: 400; }
.more-height { line-height: 1.75em; }

/**
 * File upload button styling
 */
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

/** payment-page form **/

.inset-form-container.row-dark-blue
{
	float: left;
	padding: 30px 0;
	background-color: #2E3740;
	box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
	-webkit-box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
	-moz-box-shadow: inset 0 15px 15px -15px #181818,
				inset 0 -15px 15px -15px #181818;
}

.inset-form-container.row-white
{
	float: left;
	padding: 30px 0;
	background-color: #FFF;
	box-shadow: inset 0 15px 15px -15px #CCC,
				inset 0 -15px 15px -15px #CCC;
	-webkit-box-shadow: inset 0 15px 15px -15px #CCC,
				inset 0 -15px 15px -15px #CCC;
	-moz-box-shadow: inset 0 15px 15px -15px #CCC,
				inset 0 -15px 15px -15px #CCC;
}

h3.inset-form-heading
{
	font-family: 'Raleway', sans-serif;
	font-size: 260%;
	font-weight: 700;
	color: #FFF;
	text-shadow: 1px 1px #000;
}

.inset-form-container .inset-form-input
{
	background: none;
	border: none;
	border-bottom: 1px solid #4D5F6D;
	border-radius: 0;
	padding-left: 0;
	color: #fff;
}

.inset-form-container .inset-form-input.error { border-color: #DA4453 !important; }

.inset-form-container .inset-form-input.valid { border-color: #8CC152; }

.inset-form-container .inset-form-input.error + .input-group-addon { color: #DA4453; }

.inset-form-container .inset-form-input.valid + .input-group-addon { color: #8CC152; }

.inset-form-container .inset-form-input:focus,
.inset-form-container .inset-form-input:focus + .input-group-addon
{
	background-color: #293139;
	padding-left: 12px;
}

.inset-form-container .inset-form-input::-webkit-input-placeholder { color: #68778A !important; }
.inset-form-container .inset-form-input:-moz-placeholder
{
	color: #68778A !important;
	opacity: 1 !important;
}
.inset-form-container .inset-form-input::-moz-placeholder
{
	color: #68778A !important;
	opacity: 1 !important;
}
.inset-form-container .inset-form-input::-ms-input-placeholder
{
	color: #68778A !important;
}

.inset-form-container .input-group-addon
{
	background: none;
	color: #D85D5F;
	border: none;
	border-bottom: 1px solid #4D5F6D;
	border-radius: 0;
}

.inset-form-container .checkbox label { color: #68778A !important; }
.inset-form-container .checkbox label a
{
	color: #68778A;
	border-bottom: 1px dashed #68778A;
}

.inset-form-container .checkbox label a:hover
{
	color: #FC6E51;
	border-color: #FC6E51;
}

/**
 * Chrome autofill fix
 */
input:-webkit-autofill:focus
{
	-webkit-box-shadow: 0 0 0px 1000px #293139 inset;
	-webkit-text-fill-color: #FFF !important;
}
input:-webkit-autofill
{
	-webkit-box-shadow: 0 0 0px 1000px #2E3740 inset;
	-webkit-text-fill-color: #FFF !important;
}

/** hr break **/
hr.dashed { border-top: 3px dashed; }

/** required label **/
label.required::after
{
	content:"*";
	display:block;
	width:10px;
	color:#f00;
	position:absolute;
	right:4px;
	top:4px;
}

/** quota slider pin **/
.slider-handle.min-slider-handle.round
{
	background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
	background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
	background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
	width: 20px;
	height: 20px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	top: -5px;
}
.slider-handle.min-slider-handle.round:after
{
	content: " ";
	position: absolute;
	display: block;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid #bebebe;
	top: 20px;
	background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
	background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
	background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}